

body {
    margin: 0px 0px 0px 0px; 
   	background-color: transparent;
	background-color: #e7e7e4;
}




a {
	cursor: pointer;
	text-decoration:none;
}




@font-face {
	font-family: 'ArialNarrowBoldItalic';
	src: url(fonts/ArialNarrowBoldItalic.ttf);
}
@font-face {
	font-family: 'ArialNarrowItalic';
	src: url(fonts/ArialNarrowItalic.ttf);
}
@font-face {
	font-family: 'ArialNarrowBold';
	src: url(fonts/ArialNarrowBold.ttf);
}
@font-face {
	font-family: 'ArialNarrow';
	src: url(fonts/ArialNarrow.ttf);
}

@font-face {
	font-family: 'NimbusSans';
	src: url(fonts/nimbus-sans-l_regular-condensed.ttf);
}


@font-face {
	font-family: 'NotCourierSansBold';
	src: url(fonts/NotCourierSans-Bold.otf);
}
@font-face {
	font-family: 'NotCourierSans';
	src: url(fonts/NotCourierSans.otf);
}



div.content {
	z-index:0;
	width: 100%;
	height:100%;
}

	div.header {
		z-index: 1;
		min-height:20vh;
		height:20vh; 
		max-height:20vh;
		width: 100vw;
		min-width: 100vw;
		max-width: 100vw;
		position: fixed;
		background: -moz-linear-gradient(top, rgba(231,231,228,1) 50%, rgba(231,231,228,0.84) 75%, rgba(231,231,228,0) 100%);
		background: -webkit-linear-gradient(top, rgba(231,231,228,1) 50%,rgba(231,231,228,0.84) 75%,rgba(231,231,228,0) 100%);
		background: linear-gradient(to bottom, rgba(231,231,228,1) 50%,rgba(231,231,228,0.84) 75%,rgba(231,231,228,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e4', endColorstr='#00e7e7e4',GradientType=0 );
	}

		div.hdrrght_right {
			width:33.3%;
			z-index: 2;
			height:auto;
			float:right;
			overflow:scroll;
			position: fixed;
		}

	div.imagezoombox {
		z-index: 1;
		overflow:scroll;
		float:left;
		width:48vw;
		height:80vh;
		padding-left:1vw;
		padding-right:1vw;
	}

		div.tableofcontent {
			z-index: 2;
			width:15vw;
			min-width:15vw;
			max-width:15vw;
			max-height: 80vh;	
			float: left;
			overflow:scroll;
			background-color: transparent;	
			position: fixed;
			margin-left: 1vw;
			margin-top:1vh;
		}

	div.maintextbox {
		z-index: 1;
		overflow:scroll;
		float: right;
		width: 47vw;
		padding-right:3vw;
	}

	div.hst1_inleiding {

		background-color: lightpink;
	}

	div.hst2_voorbeelden {

		background-color: lightblue;

	}

	div.hst6_tegenbeweging {
		background-color: purple;
	}

	div.indleiding {
		background-color:red;
	}

	div.blnc_height {
		height: 90vh;
	}
	div.about {

	}


	img {
		max-width:30vw;
		height: auto;
		float: center;

    }

	span.footnote {
		font-family: 'NotCourierSans', monospace;
		padding: 2px 4px 2px 3px;
		font-size: 0.5em;
		background: #1ba9a9;
		border-radius: 5px;
		vertical-align: text-bottom;
	}

	a.prntbttn {
		position: absolute;
		display: inline-block;
		top:10px;
		right:10px;
		padding-left: 7px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 1.5px;
		font-size: 0.9em;
		line-height: 1.25em;
		outline: dashed 1px black;
	}


	h1 {
		font-family: 'NotCourierSans', sans-serif;
		font-weight:400; 
		margin-top:10px;
		line-height: 0.8em;
		margin-bottom:0;
		font-size: 3.5em;
		color: black;
		text-transform: uppercase;
		text-align: center;
		position: absolute;
		left: 30%;
		right: 30%;
	}

	h2 {
		font-family:'NimbusSans',sans-serif;
		font-variant-ligatures: none;
		font-size: 1.3em;
		letter-spacing: 4px;
		line-height: 1.32em;
		color: black;
		text-transform: uppercase;	
		margin-top:40px;
		margin-bottom: 0.66em;
	}

	h3 {
		font-family:'NimbusSans',sans-serif;
		font-variant-ligatures: none;
		font-size: 1.3em;
		letter-spacing: 4px;
		line-height: 1.32em;
		color: black;
/*		text-transform: uppercase;*/	
		margin-top:40px;
		margin-bottom: 0.66em;
	}

	p {
		margin-top: 0;
/*		font-family:'ArialNarrow',sans-serif;
*/    	font-family: 'NimbusSans', sans-serif;
		font-variant-ligatures: none;
		font-size: 1.3em;
		letter-spacing: 0.05em;
		line-height: 1.32em;
		text-align: left;
		color: black;
		line-break:strict;
	}

		p.prntbttn, a.prntbttn {
			font-family: 'NotCourierSans', monospace;
			text-align: right;
			color: black;
		    text-decoration: none;
		}

		p.textcontent {
			font-size: 1.4em;
			line-height: 0.5em;
		}

	a.headline {
		font-family: 'NotCourierSansBold';
		color: black;
		font-size: 0.4em;
		margin: 0;
		opacity: 0.4;
	}

	a.headline:hover {
		background-color: black;
		color: white;
		opacity: 0.4;
	}

	a.otherchapter {
		font-family: 'NotCourierSans';
		color:black;
		font-size: 0.4em;
		border-bottom: 0.5px solid black;
		margin: 0;
		text-decoration: none;
		opacity: 0.4;
	}

	a.otherchapter:hover {
		background-color: black;
		color: white;
		opacity: 0.4;
	}
	
	i {
		text-decoration: center;
	}


	blockquote {
		font-size: 1.5em;
		margin: 10px auto;
		font-family: 'NotCourierSans';
		padding:15px;
		border: 1.4px solid black;
		line-height: 1.2em;
		position: relative;
		text-align: center;
	}

	span.cartograaf {
		color: #1bb27f;
	}

		span.cartograaf:before {
			content:'✑ '; 
		}
		span.cartograaf:after {
			content:''; 
		}

	span.bedrijf {
		color:#1ba9a9;
	}

	span.bedrijf:before {
		content:'⌂ '; 
	}	

	p.caption {
		font-size: 0.8em;
	}
	p.bibliography {
		font-family: "NotCourierSans", monospace;
		font-size: 0.8em;
/*		hyphens:auto;*/
	}

	span.praktisch {
		background-color:  #297ed4;
		padding-top:0.5px;
		padding-right:1px;
		padding-left:1px;
		padding-bottom:1.5px;
		color: #e7e7e4; 
	}
		span.praktisch:before {
			content: ' ';
		}
		
		span.praktisch:after {
			content: ' ';
		}

	span.gebleken {
		background-color: #f6dec6;
		padding-top:0.5px;
		padding-right:1px;
		padding-left:1px;
		padding-bottom:1.5px;
	}
		span.gebleken:before {
			content: ' ';
		}
		
		span.gebleken:after {
			content: ' ';
		}

	span.persoon {
		margin-bottom:10px;
    	opacity: 0.4;
    	color: #d9535a;
		border-bottom: 1px solid #d9535a;
		vertical-align: text-top;
	}

	span.kleur {
		  text-decoration: red underline dotted;
	}

	span.geloof {
		color:#c6b5a0;
	}

	span.geloof:before {
		content: '☁ ';
	}

	span.wegwijzer {
		font-family: 'NotCourierSans', sans-serif;
		font-size: 15px;
		line-height: 25px;
		color: #297ed4;
	}

	span.titlereference {
		font-family:'NimbusSans',sans-serif;
		font-variant-ligatures: none;
		color:  #a3a3e0;
		top: -1px;
	}

	span.titlereference:before {
		content: "⬭ ";
	}


	span.jaar {
		vertical-align: text-bottom;
		font-size: 0.65em;
		border-bottom: 1px dashed black; 
	}

	span.city {
		color:#297ed4;
	}
/*▧ ▨ ▩ ◌ ❍ ⌖   
*/		span.city:before {
			content: '● ';

/*			content: "◆ ◈ ◇ ● ◼ ◻ ◽ ◾ ▲ △ ▪ ▫ ■ □ ▢ ▣ ";
*/		} 
	
	span.country {
		color:#7595ff;
	}
		span.country:before {
			content: '⚐ ';
		} 
/*
╳ ◆ ◈ ◇  ◼ ◻ ◽ ◾ ▲ △ ▪ ▫ ☁ ■ □ ▢ ▣ 📄*/

	span.gebeurtenis {
		color:darkgrey;
	}

		span.gebeurtenis:before {
			content: "♟ ";
		}

	span.kaart {
		color:#3e44d1;
	}

	span.kaart:before {
		content: "↳ ";
	}

	span.projection {
		color:#c36363;
	}
		span.projection:before {
			content: '▩ ';
		}

	span.caption {
		font-family: 'NotCourierSans', serif;
		font-size: 0.55em;
		letter-spacing: .75px;
	}


	span.regQuote {
		border-bottom: 1.75px red dotted;
		font-style: italic;
	}

	
	span.tegengeluid {
		color:#aab9ce;
	} 

	span.argument {
		color:#1ba9a9;
	}

	span.stelling {
		color:red;
		text-decoration: 0.5px underline;

	}

	.imageleft {
		position: absolute;
		left: 18vw;	
	}

	.textleft {
		font-size: 0.55em;
		position: absolute;
		left: 1vw;
		max-width: 15vw;
		line-height: 1.32em;
	}

@media screen and (max-width: 750px) {      
    div.tableofcontent {
        display:none !important;
    }
	div.imagezoombox {
		display: none;
	}
	div.maintextbox{
		width:80vw;
		min-width:80vw;
		max-width:80vw; 
	}

	.imageleft {
		width: 80vw;	
	}
 
	.textleft {
	font-size: 0.55em;
	max-width: 80vw;
	line-height: 1.32em;
	}
}



@page { 
	margin-right: 1cm; 
	margin-top: 1cm;
	margin-bottom: 1cm;
	margin-left: 3cm
}

@media print {
	
	body {
		background-color: transparent;
	}

	div.tableofcontent{ 
		break-after: always;
		position: static;
		width:25vw;
		max-width:25vw;
		max-height: 100vh;	
		float: left;
	}
	
	div.header {
		display: none; 
	}
	
	div.textcontent {
		display: visible;
	}

	h2, h3, p { 
		margin-left:+1.5cm;
	}

	h1 {
		page-break-before: always; 
		position: static;
		text-align:center;	
	}

	h2 {
		page-break-before: 
	}
	
	img.imageweb {
		display: none; 
	}

	h2.breakbefore {
		page-break-before: always;
	}
	span.footnote {
		font-family: 'NotCourierSans', monospace;
		padding: 2px 4px 2px 3px;
		font-size: 0.7em;
		border-radius: 5px;
		background: #1ba9a9;
	}

	span.caption {
		left:71vw;
	}	

	img.imageprint {
		margin-left: -3cm;
		margin-bottom: 2vh;
		display: visible; 
		max-width:70vw;
		width:55vw;
		height:auto;
		max-height:auto;

	}
	img.captionprint {
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		display: visible;
	}

	p { 
		font-size: 1em;
		line-height: 1.32em;
	}
	
	p.caption {
		display: none;

	}

	div.maintextbox {
		margin-left:4cm;
		overflow: visible;
		width: 70vw;
	}

	span.gebleken {
		background-color: #f6dec6;
	}

	#pagebreak {
	page-break-after: always;
	}
}

@media screen {

	img.imageprint {
		display: none;
	}

	span.captionprint {
		display: none;
	}
}



