

body {
    margin: 0px 0px 0px 0px; 
   	background-color: transparent;
   	/*#f2f6f5*/

}

@font-face {
	font-family: PlantinLight;
	src: url(fonts/Plantin-Light.otf);
}
@font-face {
	font-family: TTTravels;
	src: url(fonts/TypeType - TT Travels Bold.otf);
}



div.content {
	width: 100%;
	height:100%;
}

	div.left {
		float: left;
		width:50vw;		
	}

		div.lefttop {
			min-height: 50vh;
			max-height: 50vh;
			width: 46vw;
			background-color: grey;
			float: top;
			padding-left:2vw;
			padding-right:2vw; 
		}
		div.leftbottom {
			min-height: 50vh;
			max-height: 50vh;
			width: 46vw;
			background-color: white;
			float: bottom;

		}


	div.right {
		float:right;
		width:46vw;
		height:100vh;
		max-height: 100vh;
		min-height: 100vh;

		background-color: lightgrey;
		padding-left:2vw;
		padding-right:2vw; 

	}

 
@media (max-width:800px) {
  div.left, div.center, div.right {
    width:100%; 
  }
}

h1 {
	font-family: PlantinLight, sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-size: 30pt;
}

h2 {
	font-family: TTTravels, sans-serif;
	text-align: left;
	color: blue;
	font-size: 30pt;
	line-height: 15pt;
}

p {
	font-family: PlantinLight, serif;
	font-size: 14.5pt;
	line-height: 1.32em;
	padding-bottom: 13px;
}


@page { right-margin: 2cm;  top-margin: 2cm;margin-bottom: 2cm;left-margin: 3cm }

@media print {
  h2 { display: none; }
  p { font-size: 14px; }
}

